body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*ACCORDION MENU CSS*/

.miniaccordion li > .mini-sub
{
	display: none;
}

.miniaccordion li:target > .mini-sub
{
	display: block;
}

.accordion li > .miniaccordion
{
	display: none;
}

.accordion li:target > .miniaccordion
{
	display: block;
}

.large-accordion li > .accordion
{
	display: none;
}

.large-accordion li:target > .accordion
{
	display: block;
}

/*MENU ALGEMENE CSS*/


.miniaccordion li div
{
	display: inline-block;
	text-align: center;
}

/*BESTELLEN CSS*/

.bestel
{
	background-color: green;
}

/*FEEDBACK LOADING INDICATOR*/
#movingBallG{
position:relative;
width:100px;
height:8px;
}

.movingBallLineG{
position:absolute;
left:0px;
top:3px;
height:0.7px;
width:100px;
background-color:#000000;
}

.movingBallG{
background-color:#EB6B09;
position:absolute;
top:0;
left:0;
width:10px;
height:10px;
-moz-border-radius:50%;
-moz-animation-name:bounce_movingBallG;
-moz-animation-duration:2.6s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:50%;
-webkit-animation-name:bounce_movingBallG;
-webkit-animation-duration:2.6s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:50%;
-ms-animation-name:bounce_movingBallG;
-ms-animation-duration:2.6s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:50%;
-o-animation-name:bounce_movingBallG;
-o-animation-duration:2.6s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:50%;
animation-name:bounce_movingBallG;
animation-duration:2.6s;
animation-iteration-count:infinite;
animation-direction:linear;
}

@-moz-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:92px;
}

100%{
left:0px;
}

}

@-webkit-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:92px;
}

100%{
left:0px;
}

}

@-ms-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:92px;
}

100%{
left:0px;
}

}

@-o-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:92px;
}

100%{
left:0px;
}

}

@keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:92px;
}

100%{
left:0px;
}

}