extends layout

block content
 div
  h1 Beans Bar bestellingen

 div#orders 

 script(src = '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
 script(src = '../javascripts/script.js')
 script(src = 'http://localhost:3000/faye/client.js')