body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*ACCORDION MENU CSS*/

.miniaccordion li > .mini-sub
{
	display: none;
}

.miniaccordion li:target > .mini-sub
{
	display: block;
}

.accordion li > .miniaccordion
{
	display: none;
}

.accordion li:target > .miniaccordion
{
	display: block;
}

.large-accordion li > .accordion
{
	display: none;
}

.large-accordion li:target > .accordion
{
	display: block;
}

/*MENU ALGEMENE CSS*/

#bestelnav div
{
	display: inline-block;
}

.miniaccordion li div
{
	display: inline-block;
	text-align: center;
}

<<<<<<< HEAD
.large-accordion li > .accordion
{
	display: none;
}

.large-accordion li:target > .accordion
{
	display: none;
}

/*BESTELLEN CSS*/

.bestel
{
	background-color: green;
}