extends layout

block content
 div
  h1= title

 div
  ul
   if(food.length)
    each cat in food
     li= cat.cat
      ul
       li iets drinken
       li iets anders
   else
    p There is nothing here.   