body {
  font-size: 62.5%; /* 16px*62.5%=10px */
  color: black;
  padding: 50px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1
{
	font-family: "Bebas Neue", sans-serif;
	letter-spacing: 2px;
	color: red;
}

a {
  color: #00B7FF;
}

.question
{
	border: solid 1px red;
	font-size: 1rem;
}